@import "./soft-design-system-pro/bootstrap/functions";

// Custom Variables
@import "./soft-design-system-pro/custom/variables";

// Theme Variables
@import "./soft-design-system-pro/variables";

// Bootstrap Core
@import "./soft-design-system-pro/bootstrap/bootstrap";

// Theme Core
@import "./soft-design-system-pro/theme-pro";

// Custom Variables
@import "./soft-design-system-pro/custom/styles";

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#page-header{
    background-image: url("../img/pre-event/mg-responsive.svg");
    background-position:center top;
}

.w-fit-content{
    width:fit-content
}

.speaker-card{
    .speaker-role{
        height:75px;
    }
}

#sponsors-carousel{
    .carousel-inner{
        .carousel-item{
            .card{
                display: flex;
                flex-wrap:nowrap;
                flex-direction: row;
                justify-content: space-between;
                .card-image{
                    width:calc( 50% - 1rem )
                }
                .card-body{
                    padding-left: 1rem;
                }
            }
        }
    }
}

#sponsors-wrapper{
    .sponsor-card{
        .avatar{
            z-index: 9999;
            background-color: white;
        }
        .abstract{
            height:160px;
            overflow-y: scroll;
        }
        .sponsor-link{
            text-decoration: underline;
            color:navy;
            cursor: pointer;
        }
    } 
}

@media only screen and (min-width:768px){
    #page-header{
        background-image: url("../img/pre-event/mg-desktop.svg");
        background-position: center;
    }
}