@import "./soft-design-system-pro/bootstrap/functions";

// Custom Variables
@import "./soft-design-system-pro/custom/variables";

// Theme Variables
@import "./soft-design-system-pro/variables";

// Bootstrap Core
@import "./soft-design-system-pro/bootstrap/bootstrap";

// Theme Core
@import "./soft-design-system-pro/theme-pro";

// Custom Variables
@import "./soft-design-system-pro/custom/styles";

.w-fit-content{
    width:fit-content
}

#sponsors-carousel{
    .carousel-inner{
        .carousel-item{
            .card{
                display: flex;
                flex-wrap:nowrap;
                flex-direction: row;
                justify-content: space-between;
                .card-image{
                    width:calc( 50% - 1rem )
                }
                .card-body{
                    padding-left: 1rem;
                }
            }
        }
    }
}